.app {
  text-align: center;
}

.nav-bar {
  height: 30px;
  padding: 10px;
  background-color: lightgray;
  border: 2px darkgray;
}

.link-wrapper a {
  font-size: 20px;
  text-decoration: none;
  margin: 0 20px;
}

.link-wrapper a,
.link-wrapper a:visited {
  color: #252525;
}
