.calculator {
  border: solid 2px gray;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #eeedf6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-body {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.keypad-row {
  display: flex;
  justify-content: space-between;
}

